@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #295C51;
    --secondary-color: #E9BB71;
    --primary-black-color: #0C1C18;
    --gray-color: #FEFCF8;
    --heading-color: #111111;
    --white-color: #ffffff;
    --text-color: #696969;
    --border-color: rgba(16, 16, 16, 0.10);
    --main-gray: #F0F2F4;
    --font-24: 24px;
    --font-18: 18px;
    --font-16: 16px;
    --heading-font: "Roboto", "sans";
}

* {
    box-sizing: border-box;
}

.headcenter {
    margin-left: 46%;
}

.headstart,
.headcenter {
    display: inline-flex;
    padding-block: 10px;
    padding-inline: 22px;
    text-align: center;
    background-color: var(--white-color);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 8px;
}

html {
    scroll-behavior: smooth;
}

.h1head {
    font-size: 52px;
    color: black;
    margin-bottom: 30px;
}

.opacity {
    color: var(--text-color);
}

.h1center {
    text-align: center;
    font-size: 52px;
    color: black;
    margin-bottom: 30px;
}

.Details {
    text-decoration: underline;
    font-size: 18px;
    color: #111111;
    cursor: pointer;
}

img {
    margin-inline: 0;
}

.sg {
    display: inline;
    color: var(--primary-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
}

.container {
    max-width: 100%;
    width: 89%;
    padding-inline: 15px;
    margin-inline: auto;
}

a:hover {
    color: var(--primary-color);
    transition: .3s;
}

.Basicbtn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 18px 10px;
    width: 80%;
    background-color: var(--primary-color);
    margin-bottom: 30px;
    border-radius: 10px;

    a {
        color: white;
        font-size: 18px;
    }
}

.Basicbtn1:hover {
    background-color: #E9BB71;
    transition: .5s;

    a {
        color: black;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block: 0;
}

p {
    line-height: 30px;
}

ul,
li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.greenbotton {
    padding-inline: 15px;
    padding-block: 15px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background-color: var(--primary-color);

    a {
        color: white;
    }
}

.greenbotton:hover {
    background-color: #E9BB71;
    transition: .3s;

    a {
        color: black;
    }
}

.figure {
    cursor: pointer;
}

a {
    width: 100%;
    height: 100%;
}

/* start header */
.head {
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 999;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;

        .headul {
            display: flex;
            align-items: center;
            gap: 30px;
            font-size: 18px;
        }

        .headbotton {
            background-color: var(--primary-color);
            border-radius: 8px;
            padding-block: 11px;
            padding-inline: 18px;
            border: none;

            a {
                color: white;
                font-size: 15px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* end header */

/* start hero */
.hero {
    background-color: #fefff9;
    height: 100vh;
    position: relative;

    .topfilter {
        position: absolute;
        top: -20px;
        left: -50px;
        filter: blur(110px);
        height: 200px;
        width: 200px;
        background-color: #3e8c7b;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        align-items: end;

        .leftside {
            .herospan {
                position: relative;
                display: inline-block;
                padding-inline: 20px;
                padding-block: 5px;
                border-radius: 8px;
                background-color: white;
                margin-bottom: 20px;
            }

            .heroh1 {
                position: relative;
                font-size: 75px;
                line-height: 95px;

                img {
                    position: absolute;
                    right: 70px;
                    top: -50px;
                }
            }

            .opacity {
                padding-bottom: 15px;
            }

            .models {
                display: flex;
                align-items: center;
                gap: 50px;
            }

            .modelsimg {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin-left: -15px;
            }

            .modelsimg2 {
                height: 50px;
                width: 50px;
                background-color: #E9BB71;
                border-radius: 50%;
                margin-left: -15px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

/* end hero */

/* start about */
.aboutus {
    height: 100vh;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .aboutimg1 {
        margin-top: -50px;
    }

    .aboutimg2 {
        position: relative;
        margin-top: 55px;

        .aboutcitcle {
            position: absolute;
            left: 25%;
            top: -23%;
        }
    }

    .centerside {
        margin-top: 40px;

        h1 {
            font-size: 55px;
            margin-bottom: 20px;
        }

        .opacity {
            margin-bottom: 20px;
        }

        .label {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .progress1 {
            accent-color: var(--primary-color);
            border-radius: 8px;
            height: 10px;
            width: 480px;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .progress1::-webkit-progress-bar {
            background-color: #dedede;
            border-radius: 10px;
        }

        .progress1::-webkit-progress-value {
            background-color: var(--primary-color);
            border-radius: 10px;
        }

        .progress2 {
            accent-color: #E9BB71;
            border-radius: 8px;
            height: 10px;
            width: 480px;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .progress2::-webkit-progress-bar {
            background-color: #dedede;
            border-radius: 10px;

        }

        .progress2::-webkit-progress-value {
            background-color: #E9BB71;
            border-radius: 10px;
            margin-bottom: 12px;
        }

        .greenbotton {
            margin-top: 15px;
        }
    }
}

/* end about */

/* start Services */
.Services {
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    height: 100vh;

    .h1center {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .experts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .expert {
            text-align: center;
            border-radius: 8px;
            line-height: 65px;
            background-color: #F4F7F6;

            .expertcycle {
                background-color: #EAEFEE;
                display: inline-block;
                align-items: center;
                justify-content: center;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                margin-top: 15px;
            }
        }

        .expert:hover {
            background-color: var(--primary-color);
            transition: .5s;

            .expertcycle {
                background-color: #577a72;
            }

            i,
            h2,
            .opacity,
            .Details {
                color: white;
            }
        }
    }
}

/* end Services */

/* start Case Study */
.CaseStudy {
    height: 100vh;
    display: flex;
    align-items: center;

    .grid2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 26px;

        .card {
            position: relative;
        }

        .content {
            position: absolute;
            border-radius: 10px;
            background-color: white;
            left: 59px;
            padding-block: 25px;
            padding-inline: 27px;
            text-align: start;
            transform: translateX(-50px);
            margin-top: -30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            h3 {
                font-size: 15px;
                opacity: .5;
                margin-bottom: 15px;
            }

            p {
                font-size: 21px;
            }
        }
    }

    .h1button {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .greenbotton {
            background-color: white;
            border: 1px solid rgb(0, 0, 0, .5);

            a {
                color: rgb(0, 0, 0, .8);
            }
        }

        .greenbotton:hover {
            background-color: var(--primary-color);
            transition: .4s;

            a {
                color: white;
            }
        }
    }

}

/* end Case Study */

/* start Working Process */
.WorkingProcess {
    height: 100vh;
    display: flex;
    align-items: center;

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 18px;

        .card1,
        .card2 {
            padding-inline: 15px;
            padding-block: 20px;
            padding-right: 10px;
            border-radius: 8px;

            .workingcycle {
                margin-block: 20px;
                background-color: #EAEFEE;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                margin-top: 15px;

                i {
                    display: flex;
                    justify-content: center;
                }
            }

            h1 {
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 10px;
            }
        }

        .card1 {
            background-color: #EAEFEE;

            .workingcycle {
                background-color: rgba(62, 108, 98, 0.2);
            }
        }

        .card2 {
            background-color: #FDF8F1;

            .workingcycle {
                background-color: #F9ECD7;
            }
        }
    }
}

/* eng Working Process */

/* start ourteam */
.ourteam {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--gray-color);

    .headcenter {
        margin-bottom: 15px;
    }

    .teamimgs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            margin-bottom: 15px;
        }

        .imgcard {
            position: relative;
            text-align: center;

            .teamhover {
                position: absolute;
                bottom: 130px;
                left: 35px;
                display: flex;
                justify-content: center;
                gap: 34px;
                background-color: var(--primary-color);
                padding-block: 20px;
                width: 80%;
                border-radius: 8px;
                display: none;

                i {
                    font-size: 24px;
                }
            }
        }

        .imgcard:hover {
            .teamhover {
                display: inline-flex;
                transition: .5s ease-in-out;
            }
        }
    }
}

/* end ourteam */

/* start Pricing Plan */
.PricingPlan {

    height: 100vh;
    display: flex;
    align-items: center;

    .Basics {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .Basicone {
            margin-inline: 20px;
            padding-left: auto;
            background-color: white;
            box-shadow: 2px 3px 20px #eaeaea;
            border-radius: 8px;
            padding-inline: 35px;
            padding-block: 20px;

            hr {
                opacity: .5;
                width: 93%;
            }

            .top {

                h2 {
                    font-size: 21px;
                }

                h2,
                h1,
                p {
                    margin-bottom: 15px;
                }

                .opacity {
                    margin-bottom: 30px;
                }

                .priceh1 {
                    font-size: 50px;
                }
            }

            .center {
                background-color: #F9FAFA;
                padding-block: 15px;
                padding-inline: 23px;
                border-radius: 8px;
                width: 90%;
                margin-top: 30px;

                h1 {
                    margin-bottom: 15px;
                }

                .opacity {
                    padding-bottom: 8px;
                }
            }

            .pricebutton {
                margin-top: 20px;
                padding-block: 15px;
                background-color: var(--primary-color);
                border-radius: 8px;
                width: 90%;
                border: none;

                a {
                    color: white;
                    font-size: medium;
                }
            }

            .pricebutton:hover {
                background-color: var(--secondary-color);
                transition: .3s;

                a {
                    color: black;
                }
            }
        }

        .Basictwo {
            background-color: var(--primary-color);
            margin-inline: 20px;
            padding-inline: 35px;
            padding-block: 20px;
            border-radius: 8px;
            padding-inline: auto;

            .top {
                hr {
                    opacity: .5;
                }

                h2,
                h1,
                p {
                    margin-bottom: 15px;
                    color: white;
                }

                .opacity {
                    margin-bottom: 30px;
                }

                .priceh1 {
                    color: white;
                    font-size: 50px;
                }
            }

            .center {
                background-color: rgba(255, 255, 255, 0.1);
                padding-block: 15px;
                padding-inline: 23px;
                border-radius: 8px;
                width: 90%;
                margin-top: 30px;

                h1 {
                    color: white;
                    margin-bottom: 15px;
                }

                .opacity {
                    color: white;
                    padding-bottom: 8px;
                }
            }

            .price2button {
                background-color: white;
                margin-top: 20px;
                padding-block: 15px;
                border-radius: 8px;
                width: 90%;
                border: none;

                a {
                    color: black;
                    font-size: medium;
                }
            }
        }
    }
}

/* end Pricing Plan */

/* start Testimonials */
.Testimonials {
    background-color: var(--gray-color);
    height: 100vh;
    display: flex;
    align-items: center;

    .testflex {
        display: flex;
        gap: 25px;

        .testemonialcard {
            padding-block: 15px;
            padding-inline: 24px;
            box-shadow: 1px 1px 5px rgb(81, 81, 81);
            border-radius: 8px;

            p {
                font-size: 22px;
            }
        }
    }

    .testcadstars {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .testcard {
        display: flex;
        align-items: center;

        img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }
    }
}

/* end Testimonials */

/* start Latest Blog */
.LatestBlog {
    height: 100vh;
    display: flex;
    align-items: center;

    .blogcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        padding-inline: 15px;

        .blogcard {
            .feb {
                position: relative;
                top: 45px;
                left: 20px;
                padding-inline: 16px;
                padding-block: 8px;
                border-radius: 20px;
                background-color: var(--primary-color);
                color: white;
            }

            img {
                border-radius: 8px;
                width: 100%;
            }

            .comment {
                display: flex;
                gap: 25px;
                margin-block: 15px;
                opacity: .6;
            }

            .opacity {
                margin-block: 10px;
            }
        }
    }
}

/* end Latest Blog */
/* start footer */
 /* .footer {
    position: relative;
    padding-block: 25px;
    
    margin-top: 180px;
    background-color: #0C1C18;
    color: white;
    line-height: 45px;

    .grid4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding-top: 20px;
        align-items: start;

        img {
            color: white;
            object-fit: contain;
            margin-bottom: 24px;
        }
    }

    .foot2,
    .foot3,
    .foot4 {
        display: block;
        justify-content: flex-start;

        a {
            color: #F0F2F4;
            opacity: .5;
        }

        h1 {
            margin-bottom: 21px;
        }

        a:hover {
            color: var(--primary-color);
        }
    }

    .minfooter {
        height: 90px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.04);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding-left: 120px;
            opacity: .5;
            font-size: large;
        }

        .links {
            display: flex;
            gap: 50px;
            font-size: large;

            li a {
                color: white;
                opacity: .5;
            }

            li a:hover {
                color: var(--primary-color);
            }
        }
    }
}  */

/* end footer */